<div class="customer">
    <div class="needs-validation">
        <div class="row">
            <div class="move-center"></div>
<div class="col-sm-6 ">
    <h3 class="placing">Make Reservation</h3>
    <form   [formGroup]="reservationForm" (ngSubmit)="add_reservation(reservationForm)" class="needs-validation" >
        <div class="col-sm-12" >
        <div class="form-row">
            <div class="col-md-12 mb-2 " >
                <label for="validationCustom01">Name</label>
                <input type="text" formControlName="Name" class="form-control" id="validationCustom01"  >
                <div *ngIf="reservationForm.controls['Name'].invalid && reservationForm.controls['Name'].touched ">
                    <p *ngIf="reservationForm.controls['Name'].errors.required &&Is_Error " class="validate">Name Is Required</p>
                </div>  
                </div>
            <div class="col-md-6 mb-2">
                <label for="validationCustom02">Room Number</label>
                <input type="text" formControlName="Room_Number" class="form-control" id="validationCustom02"  >
                <div *ngIf="reservationForm.controls['Room_Number'].invalid && reservationForm.controls['Room_Number'].touched ">
                    <p *ngIf="reservationForm.controls['Room_Number'].errors.required &&Is_Error " class="validate">Room Number Is Required</p>
                </div> 
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-2 ">
                <label for="validationCustom03">Check In</label>
                <input type="date" formControlName="Check_In" class="form-control" id="validationCustom03"  >
                <div *ngIf="reservationForm.controls['Check_In'].invalid && reservationForm.controls['Check_In'].touched ">
                    <p *ngIf="reservationForm.controls['Check_In'].errors.required &&Is_Error " class="validate">Check In Is Required</p>
                </div> 
            </div>
            <div class="col-md-12 mb-2 ">
                <label for="validationCustom04">Check Out</label>
                <input type="date" formControlName="Check_Out" class="form-control" id="validationCustom04"  >
                <div *ngIf="reservationForm.controls['Check_Out'].invalid && reservationForm.controls['Check_Out'].touched ">
                    <p *ngIf="reservationForm.controls['Check_Out'].errors.required &&Is_Error " class="validate">Check Out Is Required</p>
                </div>             
            </div>
            <div class="col-md-12 mb-3 ">
        <button class="btn btn-primary" type="submit">Submit</button>
            </div>

    </div>
    </div>
    </form>
</div>  
</div>
</div>
</div>
