<div class="black">
    <div class="welcome">
        <p> welcome
        </p>
    </div>
    <div class="hero">
    </div>
</div>
<section class="features ">
<div class="title">
    <p>Features</p>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">5 Stars</h5>
              <p class="card-text">Confort Rooms With Good Service 24/24.</p>
            </div>
          </div>          </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Swimming Pool</h5>
              <p class="card-text">Free Entrance.</p>
            </div>
          </div>            </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Parking</h5>
              <p class="card-text">Available Places And Organized Parking</p>
            </div>
          </div>           
         </div>
    </div>
  </div></section>
<section class="gallery ">
<div class="title">
    <p>Gallery</p>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/room1.jpg" class="card-img-top" alt="...">
          </div>          
        </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/pool.jpg" class="card-img-top" alt="...">

          </div>    
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/parking.jpg" class="card-img-top" alt="...">

          </div>              </div>
    </div>
  </div>
</section>